.battleground {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.player1 {
  display: flex;
  flex-basis: 25%;
  flex-flow: column;
  .character {
    flex-direction: column;
    flex-basis: 100%;
    box-shadow: 0 0 20px 20px $brightGreen;
    height: 400px;
    background-color: rgba(0,0,0,.6);
    h2 {
      display: block;
      width: 100%;
    }
    div {
      margin-top: 5px;
      display: flex;
      justify-content: center;
      width: 100%;
      img {
        position: static;
      }
    }
    &:hover {
      background-color: transparent;
      cursor: default;
    }
  }
}

.player2 {
  display: flex;
  flex-basis: 25%;
  flex-flow: column;
  .character {
    flex-direction: column;
    flex-basis: 100%;
    box-shadow: 0 0 20px 20px $pink;
    height: 400px;
    background-color: rgba(0,0,0,.6);
    h2 {
      display: block;
      width: 100%;
    }
    div {
      margin-top: 5px;
      display: flex;
      justify-content: center;
      width: 100%;
      img {
        position: static;
      }
    }
    &:hover {
      background-color: transparent;
      cursor: default;
    }
  }
}

.textContainer {
  display: flex;
  flex-basis: 46%;
  background-color: $brown;
  border: 3px solid $gray;
  padding: 10px;
  color: white;
  height: 500px;
  overflow-y: scroll;
  .text-item {
    margin-top: 10px;
    margin-bottom: 10px;
    i {
      margin-right: 5px;
    }
  }
}

.gameButtons {
  margin-top: 30px;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  button {
    margin: 0;
  }
}
