$gray: #52534C;
$brown: #8D9274;
$green: #BDCC72;
$brightGreen: #D3F819;
$pink: #F7199E;

$headerFont: 'Lobster', sans-serif;
$bodyFont: 'Play', sans-serif;
$bodyFontColor: $gray;
$headerFontColor: $brightGreen;


//palette from http://www.colourlovers.com/palette/58190/the_boom_boom_room
